.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.board-container{
  font-size: 0;
  width:  300px;
  height: 300px;
  margin:auto;
  margin-top: 50px;
   
}

.cell{
  width:100px;
  height: 100px;
  display: inline-block;
  font-size: 0;
  background: white;
  border: 1px solid black;
  box-sizing: border-box;
}

.cell:hover{

  cursor: pointer;
  background: yellow; 

}